@import (reference) "../../theme/application";

.place-order
{
    background-color: darken(@palette-high,5%);
}
.buy-btn
{
    background-color: @field_success !important;
    color : darken(@palette-high,5%) !important;  
}
