@import (reference)  "../../theme/application";
.unsettled-invoices
{
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td
    {
        text-align: center !important;
    }
    margin-top: 10px;
}
.settle-form
{
    .ant-form-item-label label , .ant-form-item-required
    {
        color : @primaryTextColor ;
    }
}
