@import (reference) "../../theme/application";
.transaction-block
{
    background-color: @secondaryVariant9;
    box-shadow: none;
    border-radius: 2px;
    .price-value
    {
        display: inline-block;
        padding: 0px 5px;
        text-align: center;
        min-width: 150px;
    }
    .success
    {
        color :@validation-done;
    }
    .waiting
    {
        color : @cold-storage;
    }
    .archived
    {
        color : @hot-storage;
    }
    .settled
    {
        color : @settled;
    }
    .success, .archived , .waiting, .settled,.callback
    {
        width: 30px;
        display: inline-block;
        text-align: center;
    }
    .symbol
    {
        color : darken(@palette-light,30%);
        padding: 0px 10px;
    }
    .invoice-id
    {
        text-align: left;
        direction: ltr;
        width: 120px;
        text-align: center;
    }
    .shop-name
    {
        width: 100px;
        background-color: @secondaryVariant9;
        border-color: fade(@secondaryTextColor, 20%);
        color : @secondaryTextColor;
        text-align: center;
    }
    .tag-desc
    {
        width: 200px;
        white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       text-align: center;
       vertical-align: bottom;
    }
    .tag-date
    {
        text-align: center;
        width: 170px;
    }
    .ant-table {
        background-color: darken(@palette-high,2%);
        color: @palette-light;
        border: none;
        border-radius: 3px;
        .ant-table-row {
            td {
                border-color: lighten(@palette-high,10%);
            }
            &:hover {
                color: @palette-high;
            }
        }

        .ant-table-thead > tr > th {
            background: transparent !important;
            color: @palette-light;
            font-weight: bold !important;
            border-bottom: 1px solid lighten(@palette-high,20%) !important;
        }
    }
}
