@import (reference) "../../theme/application";
.deposit-item {
    border-bottom: 1px solid @palette-high !important;

    &:last-child {
        border-bottom: none !important;
    }
}

.deposite-history {
    .ant-list-item-meta-description {
        color: lighten(@palette-high, 30%);
    }
}
