{
    "swagger": "2.0",
    "info": {
        "description": "kyc (know yourself customer)",
        "version": "1.0",
        "title": "kycinfo",
        "termsOfService": "Term Of Service",
        "contact": {
            "name": "b2mark",
            "url": "b2mark.com",
            "email": "info@b2mark.com"
        },
        "license": {
            "name": "b2mark",
            "url": "www.b2mark.com/license"
        }
    },
    "host": "kyc.b2mark.com:9092",
    "basePath": "/",
    "tags": [{
        "name": "basic-error-controller",
        "description": "Basic Error Controller"
    }, {
        "name": "country-rest-controller",
        "description": "Country Rest Controller"
    }, {
        "name": "image",
        "description": "Image"
    }, {
        "name": "kyc-rest-controller",
        "description": "Kyc Rest Controller"
    }, {
        "name": "operation-handler",
        "description": "Operation Handler"
    }, {
        "name": "web-mvc-endpoint-handler-mapping",
        "description": "Web Mvc Endpoint Handler Mapping"
    }],
    "paths": {
        "/actuator": {
            "get": {
                "tags": ["web-mvc-endpoint-handler-mapping"],
                "summary": "links",
                "operationId": "linksUsingGET",
                "produces": ["application/json", "application/vnd.spring-boot.actuator.v2+json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object",
                                "additionalProperties": {
                                    "$ref": "#/definitions/Link"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/actuator/health": {
            "get": {
                "tags": ["operation-handler"],
                "summary": "handle",
                "operationId": "handleUsingGET",
                "produces": ["application/json", "application/vnd.spring-boot.actuator.v2+json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "body",
                    "required": false,
                    "schema": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/actuator/info": {
            "get": {
                "tags": ["operation-handler"],
                "summary": "handle",
                "operationId": "handleUsingGET_1",
                "produces": ["application/json", "application/vnd.spring-boot.actuator.v2+json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "body",
                    "required": false,
                    "schema": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/country": {
            "get": {
                "tags": ["country-rest-controller"],
                "summary": "list of country in the world",
                "operationId": "allcountryUsingGET",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/country/{cid}": {
            "get": {
                "tags": ["country-rest-controller"],
                "summary": "get country with cid (Country Identification)",
                "operationId": "cidCountryUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "cid",
                    "in": "path",
                    "description": "cid",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/error": {
            "get": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingGET",
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "head": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingHEAD",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "post": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingDELETE",
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "options": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingOPTIONS",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            },
            "patch": {
                "tags": ["basic-error-controller"],
                "summary": "error",
                "operationId": "errorUsingPATCH",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/img/{uid}/{imgtype}": {
            "get": {
                "tags": ["image"],
                "summary": "serveFile",
                "operationId": "serveFileUsingGET",
                "produces": ["*/*"],
                "parameters": [{
                    "name": "uid",
                    "in": "path",
                    "description": "uid",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "imgtype",
                    "in": "path",
                    "description": "imgtype",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc": {
            "get": {
                "tags": ["kyc-rest-controller"],
                "summary": "return kyc paginatio if not found 204 content not found",
                "operationId": "AllKycStatUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "page",
                    "in": "query",
                    "description": "page",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "size",
                    "in": "query",
                    "description": "size",
                    "required": false,
                    "type": "integer",
                    "default": 10,
                    "format": "int32"
                }, {
                    "name": "dir",
                    "in": "query",
                    "description": "dir",
                    "required": false,
                    "type": "string",
                    "default": "asc"
                }, {
                    "name": "status",
                    "in": "query",
                    "description": "status",
                    "required": false,
                    "type": "string",
                    "default": "all"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Kycinfo"
                            }
                        }
                    },
                    "204": {
                        "description": "service and address is ok but content not found",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Kycinfo"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "post": {
                "tags": ["kyc-rest-controller"],
                "summary": "add",
                "operationId": "addUsingPOST",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                    "in": "body",
                    "name": "input",
                    "description": "input",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Kycinfo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Kycinfo"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": ["kyc-rest-controller"],
                "summary": "update",
                "operationId": "updateUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                    "in": "body",
                    "name": "kycInput",
                    "description": "kycInput",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Kycinfo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Kycinfo"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/img": {
            "post": {
                "tags": ["kyc-rest-controller"],
                "summary": "handleFileUpload",
                "operationId": "handleFileUploadUsingPOST",
                "consumes": ["multipart/form-data"],
                "produces": ["*/*"],
                "parameters": [{
                    "name": "file",
                    "in": "formData",
                    "description": "file",
                    "required": true,
                    "type": "file"
                }, {
                    "name": "imgtype",
                    "in": "query",
                    "description": "imgtype",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/img/{imgtype}": {
            "get": {
                "tags": ["kyc-rest-controller"],
                "summary": "serveFile",
                "operationId": "serveFileUsingGET_1",
                "produces": ["*/*"],
                "parameters": [{
                    "name": "imgtype",
                    "in": "path",
                    "description": "imgtype",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/status": {
            "get": {
                "tags": ["kyc-rest-controller"],
                "summary": "return status kyc paginatio if not found 204 content not found",
                "operationId": "paginationUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "page",
                    "in": "query",
                    "description": "page",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "size",
                    "in": "query",
                    "description": "size",
                    "required": false,
                    "type": "integer",
                    "default": 10,
                    "format": "int32"
                }, {
                    "name": "dir",
                    "in": "query",
                    "description": "dir",
                    "required": false,
                    "type": "string",
                    "default": "asc"
                }, {
                    "name": "status",
                    "in": "query",
                    "description": "status",
                    "required": false,
                    "type": "string",
                    "default": "all"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/KycStatus"
                            }
                        }
                    },
                    "204": {
                        "description": "service and address is ok but content not found",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/KycStatus"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/status/{uid}": {
            "get": {
                "tags": ["kyc-rest-controller"],
                "summary": "list of status (know your customer) by uid (user identification)",
                "operationId": "userStatusUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "uid",
                    "in": "path",
                    "description": "uid",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/KycStatus"
                        }
                    },
                    "204": {
                        "description": "service and address is ok but content not found",
                        "schema": {
                            "$ref": "#/definitions/KycStatus"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/{uid}": {
            "get": {
                "tags": ["kyc-rest-controller"],
                "summary": "list of kyc (know your customer) by uid (user identification)",
                "operationId": "uidKycUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "uid",
                    "in": "path",
                    "description": "uid",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/kyc/{uid}/{status}": {
            "put": {
                "tags": ["kyc-rest-controller"],
                "summary": "changeStatus",
                "operationId": "changeStatusUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                    "name": "uid",
                    "in": "path",
                    "description": "uid",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "status",
                    "in": "path",
                    "description": "status",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/KycStatus"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        }
    },
    "definitions": {
        "Country": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "Country"
        },
        "File": {
            "type": "object",
            "properties": {
                "absolute": {
                    "type": "boolean"
                },
                "absoluteFile": {
                    "$ref": "#/definitions/File"
                },
                "absolutePath": {
                    "type": "string"
                },
                "canonicalFile": {
                    "$ref": "#/definitions/File"
                },
                "canonicalPath": {
                    "type": "string"
                },
                "directory": {
                    "type": "boolean"
                },
                "file": {
                    "type": "boolean"
                },
                "freeSpace": {
                    "type": "integer",
                    "format": "int64"
                },
                "hidden": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "parent": {
                    "type": "string"
                },
                "parentFile": {
                    "$ref": "#/definitions/File"
                },
                "path": {
                    "type": "string"
                },
                "totalSpace": {
                    "type": "integer",
                    "format": "int64"
                },
                "usableSpace": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "File"
        },
        "InputStream": {
            "type": "object",
            "title": "InputStream"
        },
        "KycStatus": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "string",
                    "enum": ["pending", "accepted", "checking", "rejected"]
                },
                "uid": {
                    "type": "string"
                }
            },
            "title": "KycStatus"
        },
        "Kycinfo": {
            "type": "object",
            "properties": {
                "country": {
                    "type": "string"
                },
                "fname": {
                    "type": "string"
                },
                "gender": {
                    "type": "string",
                    "enum": ["male", "female", "other"]
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "lastupdate": {
                    "type": "string",
                    "format": "date-time"
                },
                "licenseid": {
                    "type": "string"
                },
                "lname": {
                    "type": "string"
                },
                "ltype": {
                    "type": "string",
                    "enum": ["DL", "PS", "NI"]
                },
                "status": {
                    "type": "string",
                    "enum": ["pending", "accepted", "checking", "rejected"]
                },
                "uid": {
                    "type": "string"
                }
            },
            "title": "Kycinfo"
        },
        "Link": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string"
                },
                "templated": {
                    "type": "boolean"
                }
            },
            "title": "Link"
        },
        "ModelAndView": {
            "type": "object",
            "properties": {
                "empty": {
                    "type": "boolean"
                },
                "model": {
                    "type": "object"
                },
                "modelMap": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object"
                    }
                },
                "reference": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string",
                    "enum": ["100", "101", "102", "103", "200", "201", "202", "203", "204", "205", "206", "207", "208", "226", "300", "301", "302", "303", "304", "305", "307", "308", "400", "401", "402", "403", "404", "405", "406", "407", "408", "409", "410", "411", "412", "413", "414", "415", "416", "417", "418", "419", "420", "421", "422", "423", "424", "426", "428", "429", "431", "451", "500", "501", "502", "503", "504", "505", "506", "507", "508", "509", "510", "511"]
                },
                "view": {
                    "$ref": "#/definitions/View"
                },
                "viewName": {
                    "type": "string"
                }
            },
            "title": "ModelAndView"
        },
        "Resource": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "file": {
                    "$ref": "#/definitions/File"
                },
                "filename": {
                    "type": "string"
                },
                "inputStream": {
                    "$ref": "#/definitions/InputStream"
                },
                "open": {
                    "type": "boolean"
                },
                "readable": {
                    "type": "boolean"
                },
                "uri": {
                    "$ref": "#/definitions/URI"
                },
                "url": {
                    "$ref": "#/definitions/URL"
                }
            },
            "title": "Resource"
        },
        "URI": {
            "type": "object",
            "properties": {
                "absolute": {
                    "type": "boolean"
                },
                "authority": {
                    "type": "string"
                },
                "fragment": {
                    "type": "string"
                },
                "host": {
                    "type": "string"
                },
                "opaque": {
                    "type": "boolean"
                },
                "path": {
                    "type": "string"
                },
                "port": {
                    "type": "integer",
                    "format": "int32"
                },
                "query": {
                    "type": "string"
                },
                "rawAuthority": {
                    "type": "string"
                },
                "rawFragment": {
                    "type": "string"
                },
                "rawPath": {
                    "type": "string"
                },
                "rawQuery": {
                    "type": "string"
                },
                "rawSchemeSpecificPart": {
                    "type": "string"
                },
                "rawUserInfo": {
                    "type": "string"
                },
                "scheme": {
                    "type": "string"
                },
                "schemeSpecificPart": {
                    "type": "string"
                },
                "userInfo": {
                    "type": "string"
                }
            },
            "title": "URI"
        },
        "URL": {
            "type": "object",
            "properties": {
                "authority": {
                    "type": "string"
                },
                "content": {
                    "type": "object"
                },
                "defaultPort": {
                    "type": "integer",
                    "format": "int32"
                },
                "file": {
                    "type": "string"
                },
                "host": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "port": {
                    "type": "integer",
                    "format": "int32"
                },
                "protocol": {
                    "type": "string"
                },
                "query": {
                    "type": "string"
                },
                "ref": {
                    "type": "string"
                },
                "userInfo": {
                    "type": "string"
                }
            },
            "title": "URL"
        },
        "View": {
            "type": "object",
            "properties": {
                "contentType": {
                    "type": "string"
                }
            },
            "title": "View"
        }
    }
}
