@import (reference) "../../theme/application";
&[dir='rtl'] {
    .transaction-filters 
    {
        text-align: left;
        float: left;
    }
    .merchant-filter
    {
        float: left;
    }
}


/////////////////////////////////////////////////
.no-data
{
    text-align: center;
}
.merchant-filter
{
    float: right;
    display: inline-block;
    width: 220px;
    text-align: left;
    direction: ltr;
    padding: 0px 10px;
}
.transaction-filters    
{
    text-align: right;
    margin-bottom: 10px;
    float: right;
    display: inline-block;
    .filter
    {
        width: 30px;
        display: inline-block;
        text-align: center;
        font-size: 20px;            
        cursor: pointer;
    }
    .false
    {
        opacity: 0.2;
    }
}                
