@import "../../theme/application";

.verify
{
    background-color: @verify-color !important;
    border-color: @verify-color !important;
    color: darken(@palette-high, 20%) !important;
}
.header-user-profile{
    .caption
    {
        font-weight: bold;
    }
    .logout{
        margin-left: 10px;
    }
}
