@import (reference) "../../theme/application";
.market-trades
{
    .ant-table,th
    {
    background-color: transparent;
    border: none;
    }
    th
     {
    background: transparent !important;
    color : @secondaryTextColor !important;    
    text-align: left !important;
    }
    .ant-table-tbody > tr > td
    {
        border-bottom: none;   
        text-align: left;
        padding: 0px !important;
    }
    .time
    {
        color : @secondaryTextColor !important;    
    }
    .exchange-value.normal
    {
        color : @secondaryTextColor !important;    
    }
    
}
