@import (reference) "../../theme/application";

.place-order
{
    #amount,#price
    {
        #ltr-placeholder()
    }
    background : @secondaryVariant9 !important;
    .exchange-value
    {
        color : @secondaryTextColor;
    }
}
.buy-btn
{
    background-color: @primaryVariant5 !important;
    color : @primaryTextColor !important;  
    border-color:   @primaryVariant8 !important;
}
.sell-btn
{
    background-color: @secondaryVariant7 !important;
    color : @secondaryTextColor !important;
    border-color:   @secondaryVariant8 !important;
}
