@import (reference) "../../theme/application";

.limited-place-order
{
    #amount,#price
    {
        #ltr-placeholder()
    }
    .exchange-value
    {
        color : @secondaryTextColor;
    }
}
.buy-btn
{
    background-color: @primaryVariant5 !important;
    color : @primaryTextColor !important;  
    border-color:   @primaryVariant5 !important;
    text-transform: capitalize;
}
.sell-btn
{
    background-color: @hot-storage !important; 
    border-color:   @hot-storage !important;
    text-transform: capitalize;
}
