@import "./color-palette";   // our application colors
@import "./application-variables";   // our application variables
@import "./style-overrides"; //override ant styles here
@import "./mixins"; //custom mixins

//@import "./assets/fonts/ant/font";    //use local fonts for ant
@import "./assets/fonts/shabnam/font"; //our application custom fonts
@import "./assets/fonts/b2mark/font"; //our application custom fonts
@import "./assets/fonts/cryptocoins/font"; //our application custom fonts

.neat-btn {
}
.ant-btn
{
    svg
    {
            margin-right:10px;
    }
    .single-icon
    {
        margin-right:10px;
        margin-left:10px;
    }
}

.main-header
{
    color : @primaryTextColor;
}
body,.ant-layout
{
    background: @body-background ;
}
*
{
        font-family: b2mark , Shabnam !important;
}
.ant-spin-spinning
{
    text-align: center;
    display: block;
}

&[dir='rtl'] {
    *
    {
     direction: rtl;
    }
     input
     {
        #rtl-placeholder()
     }
     .btn-icon
     {
         margin-left:10px;
         margin-right:0px;
     }
     .ant-btn
     {
         svg
         {
                 margin-right:0px;
                 margin-left:10px;
         }
         .single-icon
         {
             margin-right:10px;
             margin-left:10px;
         }
     }
     
     
}
