@import "~antd/dist/antd.less";   // import official less entry file

@import "./color-palette";   // our application colors
@import "./variable-overrides";   // override ant variables here (just ant!)
@import "./application-variables";   // our application variables

@import "./style-overrides"; //override ant styles here
@import "./mixins"; //custom mixins

@import "./assets/fonts/ant/font";    //use local fonts for ant
@import "./assets/fonts/shabnam/font"; //our application custom fonts
@import "./assets/fonts/b2mark/font"; //our application custom fonts
@import "./assets/fonts/cryptocoins/font"; //our application custom fonts


.neat-btn {
    background-color: @palette-high !important;
    border-color: @palette-high !important;
    color: @palette-light !important;
    svg
    {
        margin-right: 10px;
    }
}
