@import "./color-palette";   // our application colors
@import "./application-variables";   // our application variables
@import "./style-overrides"; //override ant styles here
@import "./mixins"; //custom mixins

//@import "./assets/fonts/ant/font";    //use local fonts for ant
@import "./assets/fonts/shabnam/font"; //our application custom fonts
@import "./assets/fonts/b2mark/font"; //our application custom fonts
@import "./assets/fonts/cryptocoins/font"; //our application custom fonts




.dark
{
    .header-logo-user
    {
        background: @dark-block-color;  
    }
    .block
    {
        border: 2px solid darken(@dark-block-color,5%);
        box-shadow: none;
        background-color: @dark-block-color;   
    }
    .transparent
    {
        background-color: transparent; 
    }
    .ant-layout-content
    {
        background-color:  @dark-bk;
        margin: 0px;
        padding: 8px;
    }
    .bm-menu
    {
        background-color:  @dark-bk;
    }
    .ant-popover-arrow, .ant-popover-inner
    {
        background-color:  @dark-menu !important;
    }
    .ant-btn-primary
    {
        background-color: @dark-button;
        border-color: darken($background-color , 10%);
    }
    .ant-popover-title
    {
        border-color: @dark-bk;
    }
    .ant-dropdown-menu
    {
        background-color:   @dark-block-color  !important;
    }
    .header-logo-user .header-icons .anticon
    {
        color : @dark-bk;
        &:hover
        {
            color: @secondaryTextColor;
        }
    }
    .header-logo-user .header-icons .ProfilePic
    {
        border: 3px solid @dark-bk;
        &:hover
        {
            border-color: @secondaryTextColor;
        }
    }
}




.neat-btn {
}
.ant-btn
{
    svg
    {
            margin-right:10px;
    }
    .single-icon
    {
        margin-right:10px;
        margin-left:10px;
    }
}

.main-header
{
    color : @primaryTextColor;
}
body,.ant-layout
{
    background: @body-background ;
}
*
{
        font-family: b2mark , Shabnam !important;
}
.ant-spin-spinning
{
    text-align: center;
    display: block;
}

.sandbox
{
    background-color: #fb3c5d;
    color: white;
    text-align: justify;
    box-shadow: none;
}
#develop
{
    position: fixed;
    background-color: #000c;
    color: white;
    bottom: 0;
    left: 0;
    padding: 3px 26px;
    border-radius: 0px 5px 0px 0px;
    font-family: mono;
    display: none;
}

&[dir='rtl'] {
    *
    {
     direction: rtl;
    }
     input
     {
        #rtl-placeholder()
     }
     .btn-icon
     {
         margin-left:10px;
         margin-right:0px;
     }
     .ant-btn
     {
         svg
         {
                 margin-right:0px;
                 margin-left:10px;
         }
         .single-icon
         {
             margin-right:10px;
             margin-left:10px;
         }
     }
     .ltr
     {
         text-align: left !important;
         direction: ltr !important;
     }
     
     
}
