// this file is our color palette wich is shared acros web application
@palette-high :  #665f62  ;
@palette-low :  #d9d8da ;
@palette-crazy : #f03829 ;
@palette-alternate : #645045;
@palette-alternate2: #5498a9 ; 
@palette-light : #ffffff;
