@import "../../theme/application";

.block{
    background-color:  darken(@palette-high,10%);
    padding: 15px;
    color : darken(@palette-light,15%);
    margin-bottom: 8px;
    box-shadow: 3px 4px 7px -7px darken(@palette-high,20%);
    h1,h2,h3,h4
    {
        color : darken(@palette-light,15%);
    }
    img{
        max-width: 100%;
    }
    span.right {
            float: right;
    }
}
.no-padding
{
    padding: 0px;        
}
.block-collapse
{
        background-color: transparent !important;
        .ant-collapse-header
        {
            color : @palette-light !important;
        }
        .ant-collapse-content
        {
            color : @palette-light !important;
        }
        .ant-collapse-item
        {
            border: none !important;
        }        
}
