@import (reference) "../../theme/application";
.gateway-info
{
    .api-key-input
    {
        width: calc(100% - 100px);
    }
    .ant-table-tbody > tr > td
    {
        text-align: left;
        &:hover
        {
            background-color: transparent !important;
        }
    }
    .ant-table-tbody > tr
    {
        &:hover
        {
            td{
                background-color: transparent !important;
            }    
        }
    }    
}
    