@import (reference) "../../theme/application";

@media (max-width: 1024px) {
    .exchange-row
    {
        display: block !important;
    }
    .trading-view-block
    {
        display: block !important;
        height: 300px;
    }
    .trading-view
    {
        height: 100%;
    }    
    .parent 
    {
        display: block !important;
        .main-row
        {
            display: block !important;
        }
        .main-horizontal-row
        {
            display: block !important;
        }
    }
}
.exchange-row
{
    flex-grow: 1;
    display: flex;
    .parent 
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .main-row
        {
            display: flex;
            flex-direction: column;
        }
        .main-horizontal-row
        {
            display: flex;
            flex-direction: row;
            .block
            {
                flex-grow: 1;
            }
            .horizontal-col
            {
                display: flex;
            }
        }
    }
    .grow
    {
        flex-grow: 1;
    }
}
.trading-view-block
{
    display: flex;
    flex-grow: 1;
    min-height: 200px;
}
.trading-view
{
    flex-grow: 1;
}
.order-book
{
    .ant-col-md-12
    {
        float: left !important;
    }
}
.subtitle
{
    opacity: 0.5;
}
.exchange-page
{
    .ant-input-number
    {
        border-radius: 0px;
    }
    .ant-tabs-nav .ant-tabs-tab
    {
        color : @primaryLightColor;
        &:hover
        {
            color : @secondaryTextColor;
        }
    }
    .ant-tabs-content
    {
        padding: 0;
    }
    .ant-tabs-nav .ant-tabs-tab
    {
        padding: 6px 8px;
    }
    .ant-layout-content
    {
        background-color: @secondaryVariant9;
        margin: 0;
        padding: 8px;
    }
    .ant-layout
    {
    }
    .transparent
    {
        border : none !important;
    }
    .block
    {
        border-radius: 0px;
        margin-bottom: 4px;
        padding: 15px;
        .block-title {
            font-size: 15px;
            margin-bottom: $font-size;
            font-weight: bold;
        }
    }
}
